[Desktop Entry]
Type=Application
Name=media-storage-organizer
Icon=media-storage-organizer
Categories=Utility
Terminal=false
X-AppImage-Version=0.1.09
